<!--<configuration debug="true" scan="true" scanPeriod="15 seconds">-->

<configuration>
    <!--    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>-->

    <property name="LOG_FMT" value="%gray([%d{yyyy-MM-dd HH:mm:ss.SSS}]) %magenta([%thread]) %highlight(%-5level) %cyan(%class) - %msg%n%throwable"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- ADD COLOURS TO LOG: https://github.com/Tuxdude/logback-colorizer/blob/master/README.md -->
            <pattern>${LOG_FMT}</pattern>
        </encoder>
    </appender>
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>